# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

+ List popular languages for Data Science
+ List useful Python Libraries
+ Make a table of Data Science tools
+ etc

Some of the most used languages are:
1. Python
2. R
3. SQL

Some of the most used python libraries include:

1. PyTorch
2. Pandas
3. Mathplotlib

| Data Science tools |
| ------------------- |
| Apache Spark |
| MySQL |
| Tableau Desktop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
#i = int(input("enter a number you want to convert to hours"))
i=200
a = round(i/60)
print(f"The converted number is {a}")

The converted number is 3

## Author
Olufela Yesufu